{% extends 'base.html' %}
{% block title %} Doncacion {% endblock %}
{% block content %}
	<div class = "container">

				<h1>Detalles de la donacion al beneficiario {{ object.beneficiario }}</h1> 

				<br>

					<h4><b><p align="right" style="vertical-align: top;"> {{object.fecha}}</p></b></h4>

					<p>Nombre y Cantidad: {{ object.medicamento }}</p>
					<p>Donador: {{object.medicamento.donador}}</p>
					{% if object.medicamento.imagen  %}
					<p> <img src="{{object.medicamento.imagen.url}}" width="700" height="500" class="img-responsive"></p>


				

					{% endif %}

				

				<br>

			

			</div>
{% endblock %}