{%  extends 'base.html' %}
{% block title %} Receta {% endblock %}
{% block content %}
 <style type="text/css">


#mydiv {
    position:fixed;
    top: 40%;
    left: 50%;
    width:24em;
    height:25em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
   
}

}
div {
    border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    background: #dddddd;
    width: 300px;
    border-radius: 8px;
}
</style>

<div id="mydiv">
<center>
    <h2>Receta</h2>
<br>
	<form method="POST" enctype='multipart/form-data'>
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Guardar Receta">
		<input type="reset" value="Cancelar">
	</form>
</div>
{% endblock %}