{% extends 'base.html' %}
{% block title %} Signup {% endblock %}
{% block content %}
              {% if user.is_active and user.is_staff %}

<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('../../static/lupa.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}


#thediv {
    width: 80%;
    height: 50%
    border: 1px solid ;
    padding: 10px 40px; 
     margin: auto;
    width: 50%;
   
    padding: 10px;
}

</style>
</head>
<body>
  <br>

<center><h2>Usuarios</h2></center><br>
<div id="thediv" >
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<table id="myTable" class="tableizer-table">
  <thead><tr class="tableizer-firstrow"><th>Nombre</th><th>Telefono</th><th>Direccion</th><th>Correo</th></tr>

</thead><tbody>
   {% for obj in usuarios %}
 <tr><td>{{obj.name}}</td><td>{{obj.phone}}</td><td>{{obj.address}}</td><td>{{obj.email}}</td></tr>

{% endfor %}
</tbody>
</table>
</div>
<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>

  {% else %}

<center> 


Favor de login o hacer sign up<br>
<a href='{% url "signup" %}' class="btn btn-success" role="button">Sign up</a>
<a href='{% url "login" %}' class="btn btn-primary" role="button"> Log in</a></center>

  {% endif %}

{% endblock %}